<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>Title</title>
</head>

<body>
{% include 'header.html' %}
{% block header %}{% endblock %}
    <main>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h4>New questions</h4>
          <a href="">Hot questions</a>
            {% include 'question.html' %}

            {% block question1 %}{% endblock %}
            {% block question2 %}{% endblock %}
            {% block question3 %}{% endblock %}
        </div>
        <div class="col-4">
          <h4>Popular tags</h4>
          <br>
            perl python mysql firefox Mail.ru ya.ru Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem
            cum doloribus esse explicabo facere fugiat in magnam nihil nobis odio omnis quibusdam sunt vel velit veniam, vitae. Laborum, minima.
        </div>
      </div>
    </div>
    </main>
{% include 'footer.html' %}
{% block footer %}{% endblock %}

</body>

</html>